.button {
    height: 48px;
    padding: 0 50px 0 50px;
    border: none;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: var(--white);
    cursor: pointer;
    transition: opacity 200ms ease-in-out, background-color 200ms ease-in-out, border 200ms ease-in-out;
}

.button_primary {
    background: var(--blue);
}

.button_primary:hover:enabled {
    background: var(--blue-hover);
}

.button_secondary {
    background: var(--purple);
}

.button_secondary:hover:enabled {
    background: var(--purple-hover);
}

.button_alternate {
    border: 1px solid var(--grey-3);
    background: var(--grey-1);
    color: var(--grey-4);
}

.button_alternate:hover:enabled {
    border: 1px solid var(--black);
}

.button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}