.calendar {
    width: fit-content;

    padding: 28px 30px 40px 30px;

    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;

    background: #FFFFFF;

    border: 1px solid #ACB5BD;
    border-radius: 8px;
}

.calendar__month {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;

    display: flex;
    justify-content: center;

    color: #334D6E;
}

.calendar__week {
    margin-top: 24px;
    margin-bottom: 24px;

    display: grid;
    grid-template-columns: repeat(7, 36px);

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #90A0B7;
}

.week-item{
    display: flex;
    justify-content: center;
}

.calendar__days {
    display: grid;
    grid-template-columns: repeat(7, 36px);
    grid-template-rows: repeat(5, 36px);

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    color: #334D6E;

}

.calendar__day {
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar__day_start-end {
    color: white;
    background: #4263EB;
}

.calendar__day_middle {
    background: rgba(160, 177, 245, 0.2);
}



